<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\data\TournamentTracker"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="SampleDB" connectionString="Server=.\sql2016;Database=Sample;Trusted_Connection=True;" providerName="System.Data.SqlClient"/> -->
    <!--<add name="SampleDB" connectionString="Server=sml-ws-sqldb.ad.covenanths.org;Database=RoleBasedData;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>-->
    <add name="Tournaments" connectionString="Server=azrpssqlt002.database.windows.net;Database=Tournaments;User Id=Tournaments;Password=Winter2020;" providerName="System.Data.SqlClient"/>


    
    
    
    
    
    
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>